*{
    padding:0px;
    margin:0px;
}
.container-fluid{
    padding:0px;
}
body{background-color: linen;}
#image{
    background-image: url('../images/pizzaEye_2.jpg');
    background-size: cover;
    /*background-position: center;*/
    height:100vh;
    width:100vw;
    margin-top: 0px;
}
#navbarNav{
    justify-content: flex-end;
}
#description{
    text-align: center;
    color:white;
}
#upload{
    color:white;
    text-align: center;
    margin-top: 90px;
}
.btn a{
    color:white;
    text-decoration: none;
}
/*#############  modal section #######*/
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.9;
    position: absolute;
    top: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}
.close{
    position: absolute;
    top: 0;
    right:14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
#submit{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
#inputfile{
    position: absolute;
    left: 15px;
    top: 20px;
}
#preview{
    position: absolute;
    left: 50px;
    top: 70px; 
}
/* ############ result ################# */
#background {
    width: 100%;
    height: 100vh;
    background-color:rgb(221, 211, 211);
    display: flex; 
    justify-content: center;
    align-items: center;
}
#sub_background {
    margin:  1px auto;
    width: 800px;
    height: 400px;
    background-color:rgb(221, 211, 211);
    border-radius: 5px;
    display:flex;
    justify-content: center;
}